<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Go.Properties.CustomCommands" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Go.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="CommandsFilepath" value="C:\GoUtility\CustomCommands.xml"/>
    <add key="ProfilesFilePath" value="Configurations\Profiles.xml"/>
    <add key="CustomCommandsFilePath" value="Configurations\CustomCommands.xml"/>
    <add key="BuiltInCommandsFilePath" value="Configurations\BuiltInCommands.xml"/>
  </appSettings>
    <userSettings>
        <Go.Properties.CustomCommands>
            <setting name="go" serializeAs="String">
                <value>testing</value>
            </setting>
            <setting name="close" serializeAs="String">
                <value>excel</value>
            </setting>
        </Go.Properties.CustomCommands>
        <Go.Properties.Settings>
            <setting name="ServiceNowURL" serializeAs="String">
                <value>http://mycompany.service-now.com/</value>
            </setting>
            <setting name="ServiceNowBrowserOption" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ServiceNowFlag" serializeAs="String">
                <value>True</value>
            </setting>
        </Go.Properties.Settings>
    </userSettings>
</configuration>
